@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

.container{
    padding: 0;
    margin: 0;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

form {
  margin-top: 130px;
  padding: 50px;
  border-radius: 6px;
  background-color: #cfcccc;
}
.title-section{
	padding: 10px 0; 
	font-size: 20px;
	color: #666;
	font-family: 'Sen', sans-serif;
}
.products-list{
	display: table;
	width: 100%;
}
.product-box{
	display: inline-table;
	padding: 10px;
	width: calc(100%/5 - 20px);
}
.product-box a{
	text-decoration: none;
}
.product{
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 8px 3px #ccc;
	background-color: #fff;
	font-family: 'Sen', sans-serif;
}
.product img{
	width: 100%;
	border-radius: 10px 10px 0 0;
}
.detail-title{
	padding: 5px;
	text-align: center;
	font-size: 18px;
	color: #333;
	width: calc(100% - 10px);
	height: 35px;
}
.detail-description{
	text-align: center;
	font-size: 14px;
	color: #333;
	padding: 5px;
	width: calc(100% - 10px);
	height: 34px;
}
.detail-price{
	text-align: center;
	font-size: 25px;
	color: var(--main-red);
	padding: 5px;
	width: calc(100% - 10px);
}
.detail-price span{
	font-size: 15px;
}